<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<div layout:fragment="content" class=list>
	    <input type="hidden" name="searchQuery" th:value="${eattemSearchDto.searchQuery}">
	    <div th:if="${not #strings.isEmpty(eattemSearchDto.searchQuery)}" class="center">
	        <p th:text="${eattemSearchDto.searchQuery} + '검색 결과'"></p>
	    </div>
			
    <div class="row">
        <th:block th:each="item, status: ${items.getContent()}">
            <div class="col-md-4 margin">
                <div class="card">
                    <a th:href="'/item/' +${item.id}" class="text-dark">
                        <img th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemNm}" height="400">
                        <div class="card-body">
                            <h4 class="card-title">[[${item.itemNm}]]</h4>
                            <p class="card-text">[[${item.itemDetail}]]</p>
                            <h3 class="card-title text-danger">[[${item.price}]]원</h3>
                        </div>
                    </a>
                </div>
            </div>
        </th:block>
    </div>
		
			
	</div>
</html>