<html layout:decorate="~{layout}">

  <div layout:fragment="content" class="main">
       <div class="aside_l"></div>
           <div class="article1">
               <h2>지금 인기있는 잇템은🍨</h2>
               <div id="slide_container">
                   <ul class="slidelist">
                     <li class="slideitem">
                       <div class="slide-review">
                         <a href="prod_peanut.html"><img src="https://sitem.ssgcdn.com/06/40/56/item/1000522564006_i1_290.jpg" alt=""></a>
                         <div class="review-txt"> <span class="star">★★★★</span><br>국희 좋아했던 사람 접어.. <br> 흰 우유랑 먹으면 극락감<br><br> - 닉네임: 고소해서고소  </div>
                       </div>
                     </li>
                     <li class="slideitem">
                       <div class="slide-review">
                         <a href="prd_bichobi"><img src="https://sitem.ssgcdn.com/61/89/00/item/1000519008961_i1_290.jpg" alt="" ></a>
                         <div class="review-txt"> <span class="star">★★★★★</span><br>빈츠 상위버전! <br>바삭 달달한 맛 추천😘 <br> <br> - 닉네임: 지밍지밍  </div>
                       </div>
                     </li>
                     <li class="slideitem">
                       <div class="slide-review">
                         <a><img src="https://sitem.ssgcdn.com/45/79/32/item/1000518327945_i1_290.jpg" alt="" ></a>
                         <div class="review-txt"> <span class="star">★★★</span><br>생각보다 ㄱㅊ <br>회사 간식으로 먹을만 해요<br><br> - 닉네임: 소확횡령범  </div>
                       </div>
                     </li>
                     <li class="slideitem">
                       <div class="slide-review">
                         <a href="prd_peacockprotineice"> <img src="https://sitem.ssgcdn.com/40/77/15/item/1000476157740_i1_290.jpg" alt="" ></a>
                         <div class="review-txt"> <span class="star">★★★☆</span><br>죄책감 한숟갈 덜어낸 맛 <br>프로틴 충전했으니 <br>암튼 다이어트 맞음🐷<br>  - 닉네임: 근수저  </div>
                       </div>
                     </li>
                     <li class="slideitem">
                       <div class="slide-review">
                         <a> <img src="https://sitem.ssgcdn.com/02/38/54/item/1000465543802_i1_290.jpg" alt="" ></a>
                         <div class="review-txt"> <span class="star">★★★★</span><br>가격은 fun하지 않지만<br>진리의 하리보 <br> <br> - 닉네임: jellylover  </div>
                       </div>
                     </li>
                   </ul>
         
               </div>
           </div>


           <div class="article2">
               <h2>오늘의 신상🦔</h2>
               <div class="prdlist1">
                 <div class="box"><a href="#"> <img src="https://tqklhszfkvzk6518638.cdn.ntruss.com/product/8801753110037.jpg" alt="" height="170px"><br>연세우유 황치즈빵 <br><span id="cu">CU only</span></a>
                 </div>
                 <div class="box"><a href="#"> <img src="http://gs25appimg.gsretail.com/imgsvr/item/GD_2700038844550_001.jpg" alt="" height="170px"><br>벅스버니 당근라페샌드 <br><span id="gs">GS25 only</span></a>
                 </div>
                 <div class="box"><a href="#"> <img src="https://tqklhszfkvzk6518638.cdn.ntruss.com/product/8809494070719.jpg" alt="" height="170px"><br>고대1905 딸기잼맘모스빵<br><span id="cu">CU only</span></a>
                 </div>
                 <div class="box"><a href="#"> <img src="https://cphoto.asiae.co.kr/listimglink/9/2022110311032693464_1667441006.jpg" alt="" height="170px" width="170px"> <br>푸드렐라 비건 짜장/카레 <br><span id="vegan">Vegan</span></a>
                 </div>
                 <div class="box"><a href="#"> <img src="https://www.koreaittimes.com/news/photo/202301/118815_66531_3549.jpg" alt="" height="170px"  width="170px"> <br>CGV-오뚜기 순후추 팝콘 <br><span id="none">ss</span></a>
                 </div>
               </div>
           </div>


           <div class="article3">
               <h2><span id="username">김철수</span> 님이 좋아할 잇템🍰 (<span id="keyword">#단백질충전</span>&nbsp; <span id="keyword">#매콤한</span>&nbsp;<span id="keyword"> #추억의맛</span>) </h2>
               <div class="prdlist2">
                 <div class="box"><a href="#"> <img src="https://image.newsis.com/2022/12/26/NISI20221226_0001161635_web.jpg?rnd=20221226084738" alt="" height="170px"><br>신라면 제페토 큰사발 </a></div>
                 <div class="box"><a href="#"> <img src="https://sitem.ssgcdn.com/40/77/15/item/1000476157740_i1_232.jpg" alt="" height="170px"><br>피코크 프로틴 아이스크림 초코 </a></div>
                 <div class="box"><a href="#"> <img src="https://image.newsis.com/2023/01/09/NISI20230109_0001171760_web.jpg?rnd=20230109094311" alt="" height="170px" width="170px"><br>틈새라면 고기 짬뽕 </a></div>
                 <div class="box"><a href="#"> <img src="https://sitem.ssgcdn.com/06/40/56/item/1000522564006_i1_232.jpg" alt="" height="170px"><br>오리온 피넛칩 쿠키 </a></div>
                 <div class="box"><a href="#"> <img src="https://image.newsis.com/2023/01/09/NISI20230109_0001171654_web.jpg?rnd=20230109084631" alt="" height="170px"><br>Hav’eat 맛있는 산양유 프로틴 </a></div>
              
               </div> 

            </div>



            <div class="aside_r"></div>
        </div>
</html>