<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
        <link rel="stylesheet" type ="text/css" th:href="@{/style_list.css}">
</head>
	<div layout:fragment="content"  class="main">
		<div class="prodList">
		<th:block th:each="article : ${list}">
		
                    
                        
                        <div class="card-body">
                        <a th:href="'view?id=' +${article.id}">
                        <img th:src="${article.url}" style="width:150px">
                            <h4 class="card-title" th:value=:#httpServletRequest.getParameterValues('taste')">[[${article.taste}]]</h4>
                            <h3 class="card-text">[[${article.pdName}]]</h3>
 						</a>
                        </div>
                   
         </th:block>
		</div>

			
	</div>

</html>