@charset "UTF-8";

@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/*----------------기본 설정-----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Pretendard-Regular';
}

body{
    background-color: rgb(255, 251, 230);
}

li{
    list-style-type: none; 
}
.page{ 
    height: calc(100%-100px);
    margin: 0 auto;

}

a{
    text-decoration: none;
    color:inherit;
  }
.clear{
clear:both;
}

/*--------------헤더------------------*/

.header{
    height:70px;
    background: #356859;
    width:100%;
    display: flex;
    justify-content: space-around;
    position: fixed; 
    color:white;
    box-shadow: 3px 7px 10px rgba(0,0,0,0.3);
    z-index: 1;
  }
  .header nav{
    position: relative;
    display: flex;
    width: 85%;
    height: 70px;
    align-items: center;
    justify-content: space-between;

  }
  nav .navbar{
    width:100%;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .logo{
    background: transparent;
    padding-top: 20px;
  }
  .navbar .nav-links{
    display: flex;
    font-family: 'LeferiPoint-WhiteObliqueA';
    font-size: 20px;
    font-weight: 800;
    width:80%;
    justify-content: space-evenly;

  }
  .nav-links li{
    list-style: none;
  }
  .nav-links li a{
    padding: 9px 15px;
    transition: all 0.3s ease;
  }
  .nav-links li a:hover{
    color: orange;
  }
  .nav-links #showDrop,
  .nav-links #showMega,
  .nav-links .mobile-item
  {
    display: none;
  }


  /*-------메가메뉴---------*/
  .mega-box{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    
  }
  .mega-box .content{
    background: #356859;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    box-shadow: 0 6px 10px rgba(0,0,0,0.3);
  }
  .mega-box .content .row{
    width: calc(25% - 30px);
    line-height: 45px;
  }

  .content .row .mega-links{
  
    border-left: 1px solid rgba(255,255,255,.5);
  }
  .row .mega-links li{
    padding: 0 20px;
  }
  .row .mega-links li a{
    padding: 0px;
    padding: 0 20px;
    font-size: 17px;
    display: block;
  }
  .row .mega-links li a:hover{
    color: orange;
  }


/*---------------드롭메뉴-------------*/

  .nav-links .drop-menu{
    position: absolute;
    background: #356859;
    text-align: center;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
  .nav-links li:hover .drop-menu,
  .nav-links li:hover .mega-box{
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility:visible;

  }
  .drop-menu li a{
    width: 100%;
    display: block;
    font-family: 'LeferiPoint-WhiteObliqueA';
    font-weight: 700;
    border-radius: 0px;
  }


  .header .search-icon{
    color: white;
    font-size: 15px;
    cursor: pointer;
    line-height: 60px;
    width: 40px;
    text-align: center;
    background-color: transparent;
    border:none;
    
  }

  .header .search-box{
    height: 100%;
    width: 300px;
  }
  .search-box input{
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    color: #000;
    border-radius: 10px;
    font-family: 'LeferiPoint-WhiteObliqueA';
    letter-spacing: 1px;
  }

  .header .menu-icon{

    font-size: 20px;
    cursor: pointer;
    display: none;
  }

.header  #menu-btn{
    display: none;
  }
 
  @media screen and (max-width: 1250px){
    .header nav{
      max-width: 100%;
      padding: 0 10px;
    }
    nav .content .links{
      margin-left: 20px;
    }
    .content .links li a{
      padding: 8px 10px;
    }
    .desktop-link{
        max-width: 90%;
        overflow: hidden;
      }
    .logo{
        display: none;
    }
  }
  
  @media screen and (max-width: 970px) {
    .header .menu-icon{
        display: block;
      }
    .header #menu-btn:checked ~ .menu-icon i::before{
    content: "\f00d";
    }
    .desktop-item{
        max-width: 100%;
        overflow: hidden;
      }
    nav .navbar .nav-links{
      display: block;
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 350px;
      top: 70px;
      left: -100%;
      background: #356859;
      margin-left: 0;
      padding: 50px 10px;
      line-height: 50px;
      overflow-y: auto;
      box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
      transition: all 0.3s ease;
    }
   
    #menu-btn:checked ~ .nav-links{
      left: 0%;
    }
  
    .nav-links li{
      margin: 15px 10px;
    }
    .nav-links li a{
      padding: 0 20px;
      display: block;
      font-size: 20px;
      cursor: pointer;
    }
    .nav-links .drop-menu{
      position: static;
      opacity: 1;
      top: 65px;
      visibility: visible;
      padding-left: 20px;
      width: 100%;
      max-height: 0px;
      overflow: hidden;
      box-shadow: none;
      transition: all 0.3s ease;
    }
    #showDrop:checked ~ .drop-menu,
    #showMega:checked ~ .mega-box{
      max-height: 100%;
    }
    .nav-links .desktop-item{
      display: none;
    }
    .nav-links .mobile-item{
      display: block;
      padding-left: 20px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s ease;
    }
    .nav-links .mobile-item:hover{
      color:orange;
    }
    .drop-menu li{
      margin: 0;
    }
    .drop-menu li a{
      border-radius: 5px;
      font-size: 18px;
    }
    .mega-box{
      position: static;
      top: 65px;
      opacity: 1;
      visibility: visible;
      padding: 0 20px;
      max-height: 0px;
      overflow: hidden;
      transition: all 0.3s ease;
    }
    .mega-box .content{
      box-shadow: none;
      flex-direction: column;
      padding: 20px;
    }
    .mega-box .content .row{
      width: 100%;
      margin-bottom: 15px;
      border-top: 1px solid rgba(255,255,255,0.08);
    }
    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2){
      border-top: 0px;
    }
    .content .row .mega-links{
      border-left: 0px;
      padding-left: 15px;
    }
    .row .mega-links li{
      margin: 0;
    }
     /*---------------스크롤바--------- */
     ::-webkit-scrollbar {
        width: 10px;
      }
      ::-webkit-scrollbar-track {
        background: white;
      }
      ::-webkit-scrollbar-thumb {
        background: #356859;
      }

  }
  
  textarea {
    width: 100%;
    resize: none;
  }
  
  .main{
    width:100%;
    padding-top: 80px;
    margin-bottom: 40%;
    position: relative;

    display: grid;
        grid-template-areas: 
            "aside_l article1 article1 aside_r"
            "aside_l article2 article2 aside_r"
            "aside_l article3 article3 aside_r";
        grid-template-columns: 10% 40% 40% 10%;
        grid-template-rows: 500px 400px 400px;

}

.footer{
    height:70px;
    background: #356859;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'LeferiPoint-WhiteObliqueA';
    font-weight: 800;
}

